body{
  margin:0;
}
header{
  text-align: left;
  background-color: orange;
  margin:0;
}
main{
  text-align: center;
}
footer{
  text-align: center;
  background-color: orange;
  margin:0;
  height:75px;
}

.page-title{
  margin:0;
  padding-left: 10%;
}
.content-title{
  text-decoration:underline;
}
.copyright{
  margin:0;
  vertical-align: middle;
}
